<%= form_for(@frivillig) do |f| %>
  <% if @frivillig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frivillig.errors.count, "error") %> prohibited this frivillig from being saved:</h2>

      <ul>
      <% @frivillig.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_elements">

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
